@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 95vw;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3vw 8vw;
}
nav div img {
  width: 7vw;
  cursor: pointer;
}
nav div img:hover {
  filter: invert(92%) sepia(76%) saturate(6001%) hue-rotate(358deg) brightness(38%) contrast(107%);
}
nav div ul {
  font-family: "BEYNO";
  font-size: 1vw;
  list-style: none;
}
nav div ul li {
  color: #3d2da6;
  display: inline-block;
  margin-left: 3vw;
}
nav div ul li.link-active {
  text-decoration: underline;
}
nav div ul li a {
  text-decoration: none;
  color: #f2cef2;
}
nav div ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
  -moz-text-decoration-color: #fff;
}

footer {
  background: linear-gradient(#3d2da6, #021740);
  height: 38.6vw;
  display: flex;
}
footer .a {
  width: 47.207%;
  padding-left: 21vw;
  padding-top: 15.1vw;
  position: relative;
}
footer .a .blue {
  width: 7.4vw;
  height: 7.4vw;
  /* les deux derniers caractères du code représentent le canal alpha */
  background-color: rgba(7, 51, 140, 0.4980392157);
  position: absolute;
  top: 14.6vw;
  border-radius: 3.7vw;
  -webkit-border-radius: 3.7vw;
  -moz-border-radius: 3.7vw;
  -ms-border-radius: 3.7vw;
  -o-border-radius: 3.7vw;
}
footer .a .purple {
  width: 12.3vw;
  height: 12.3vw;
  text-align: center;
  /* les deux derniers caractères du code représentent le canal alpha */
  background-color: rgba(223, 153, 242, 0.3647058824);
  position: absolute;
  top: 17.3vw;
  left: 23.2vw;
  cursor: pointer;
  z-index: 1;
  border-radius: 6.15vw;
  -webkit-border-radius: 6.15vw;
  -moz-border-radius: 6.15vw;
  -ms-border-radius: 6.15vw;
  -o-border-radius: 6.15vw;
  transition: transform 400ms;
  -webkit-transition: transform 400ms;
  -moz-transition: transform 400ms;
  -ms-transition: transform 400ms;
  -o-transition: transform 400ms;
}
footer .a .purple img {
  width: 8.2vw;
  margin-top: 5vw;
  position: relative;
}
footer .a .purple img:hover {
  filter: invert(95.8%) sepia(36%) saturate(6001%) hue-rotate(358deg) brightness(178%) contrast(187%);
  -webkit-filter: invert(95.8%) sepia(36%) saturate(6001%) hue-rotate(358deg) brightness(178%) contrast(187%);
}
footer .a .purple:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
footer .a .white {
  width: 7.4vw;
  height: 7.4vw;
  /* les deux derniers caractères du code représentent le canal alpha */
  background-color: rgba(242, 206, 242, 0.6862745098);
  position: absolute;
  top: 26.3vw;
  right: 7.8vw;
  border-radius: 3.7vw;
  -webkit-border-radius: 3.7vw;
  -moz-border-radius: 3.7vw;
  -ms-border-radius: 3.7vw;
  -o-border-radius: 3.7vw;
}
footer .b {
  color: #fff;
  width: 52.795%;
  font-family: "Catarell";
}
footer .b .c {
  height: 28.3vw;
  padding-top: 14.7vw;
  display: flex;
}
footer .b .c .d {
  width: 35%;
}
footer .b .c .d .p11 {
  font-size: 1vw;
  font-weight: 700;
  letter-spacing: 0.4vw;
  margin-bottom: 1.6vw;
}
footer .b .c .d .p12,
footer .b .c .d .p13 {
  width: 5vw;
  font-size: 0.8vw;
  cursor: pointer;
}
footer .b .c .d .p12:hover,
footer .b .c .d .p13:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
  -moz-text-decoration-color: #fff;
}
footer .b .c .e {
  width: 65%;
  padding-left: 3vw;
}
footer .b .c .e .f {
  font-size: 1vw;
  font-weight: 700;
  letter-spacing: 0.4vw;
}
footer .b .c .e .f p {
  margin-bottom: 1.6vw;
}
footer .b .c .e .g img {
  width: 2.7vw;
  cursor: pointer;
}
footer .b .c .e .g .facebook {
  margin-right: 0.56vw;
  transition: transform 400ms;
  -webkit-transition: transform 400ms;
  -moz-transition: transform 400ms;
  -ms-transition: transform 400ms;
  -o-transition: transform 400ms;
}
footer .b .c .e .g .facebook:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
footer .b .c .e .g .tictok,
footer .b .c .e .g .twiter,
footer .b .c .e .g .instagram {
  margin: 0 0.56vw;
  transition: transform 400ms;
  -webkit-transition: transform 400ms;
  -moz-transition: transform 400ms;
  -ms-transition: transform 400ms;
  -o-transition: transform 400ms;
}
footer .b .c .e .g .tictok:hover,
footer .b .c .e .g .twiter:hover,
footer .b .c .e .g .instagram:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
footer .b .h {
  height: 10.3vw;
  padding-top: 1vw;
  font-size: 0.8vw;
}

.lateral-out {
  position: fixed;
  width: 1.4vw;
  left: 4.7vw;
  top: 0;
  z-index: 2;
}
.lateral-out .lateral-in1 {
  width: 100%;
  height: 17.5vw;
  border-left: 0.25vw solid #9e91b7;
  border-right: 0.25vw solid #9e91b7;
}
.lateral-out .lateral-in2 {
  width: 100%;
  height: 8.6vw;
  padding-top: 0.6vw;
  padding-left: 0.5vw;
  border-left: 0.25vw solid #9e91b7;
}
.lateral-out .lateral-in2 img {
  display: block;
  width: 1.3vw;
  padding-bottom: 1vw;
  cursor: pointer;
}
.lateral-out .lateral-in2 img:hover {
  filter: invert(100%) sepia(1%) saturate(3600%) hue-rotate(149deg) brightness(200%) contrast(100%);
  -webkit-filter: invert(100%) sepia(1%) saturate(3600%) hue-rotate(149deg) brightness(200%) contrast(100%);
}

.wrapper {
  background: radial-gradient(ellipse at top left, #11213f -205%, #0b0b0b 80%, #021740);
}
.wrapper header .titre {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1.2vw;
  position: relative;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.wrapper header .titre .bloc {
  color: #fff;
  position: relative;
  left: 3.3vw;
  top: -2.6vw;
}
.wrapper header .titre .bloc h1 {
  font-family: "Panthera", sans-serif, arial;
  font-size: 3vw;
  letter-spacing: 0.3vw;
  color: #9e91b7;
  margin: 0;
}
.wrapper header .titre .bloc h2 {
  font-family: "BEYNO", sans-serif, arial;
  font-size: 1.6vw;
  font-weight: 100;
  color: #9e91b7;
  margin-top: 0.7vw;
}
.wrapper header .titre .bloc p {
  font-family: "Cantarell", sans-serif, arial;
  font-size: 0.8vw;
  font-weight: 500;
  line-height: 1.1vw;
  text-shadow: 0.035vw 0.035vw #fff;
}
.wrapper header .titre .bloc p span {
  text-decoration: underline;
  cursor: pointer;
}
.wrapper header .titre .bloc .lateral-out {
  position: fixed;
  width: 1.4vw;
  left: 4.7vw;
  top: 0;
  z-index: 2;
}
.wrapper header .titre .bloc .lateral-out .lateral-in1 {
  width: 100%;
  height: 17.5vw;
  border-left: 0.25vw solid #9e91b7;
  border-right: 0.25vw solid #9e91b7;
}
.wrapper header .titre .bloc .lateral-out .lateral-in2 {
  width: 100%;
  height: 8.6vw;
  padding-top: 0.6vw;
  padding-left: 0.5vw;
  border-left: 0.25vw solid #9e91b7;
}
.wrapper header .titre .bloc .lateral-out .lateral-in2 img {
  display: block;
  width: 1.3vw;
  padding-bottom: 1vw;
  cursor: pointer;
}
.wrapper header .titre .bloc .lateral-out .lateral-in2 img:hover {
  filter: invert(100%) sepia(1%) saturate(3600%) hue-rotate(149deg) brightness(200%) contrast(100%);
  -webkit-filter: invert(100%) sepia(1%) saturate(3600%) hue-rotate(149deg) brightness(200%) contrast(100%);
}
.wrapper header .titre div img {
  width: 60vw;
}
@-webkit-keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.wrapper header .personnage {
  width: 95.5%;
  position: relative;
  right: -4.18vw;
  top: -4.5vw;
  background-color: #021740;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.wrapper header .personnage .text1 {
  width: 20.4vw;
  color: #fff;
}
.wrapper header .personnage .text1 h3 {
  margin-left: 1.8vw;
  margin-bottom: 0.4vw;
  font-family: "BEYNO", sans-serif, arial;
  font-size: 1.15vw;
  color: #9e91b7;
}
.wrapper header .personnage .text1 p {
  width: 16.6vw;
  font-family: "Cantarell", sans-serif, arial;
  font-size: 0.678vw;
  font-weight: 500;
  line-height: 1.1vw;
  text-align: justify;
  text-shadow: 0.035vw 0.035vw #fff;
  margin: auto;
  margin-bottom: 3.5vw;
}
.wrapper header .personnage .text1 p span {
  text-decoration: underline;
  cursor: pointer;
}
.wrapper header .personnage .pantherhome3 {
  width: 14.5vw;
}
.wrapper header .personnage .text2 {
  width: 20.4vw;
  color: #fff;
}
.wrapper header .personnage .text2 h3 {
  margin-left: 1.8vw;
  margin-bottom: 0.4vw;
  font-family: "BEYNO", sans-serif, arial;
  font-size: 1.15vw;
  color: #9e91b7;
}
.wrapper header .personnage .text2 p {
  width: 16.6vw;
  font-family: "Cantarell", sans-serif, arial;
  font-size: 0.678vw;
  font-weight: 500;
  line-height: 1.1vw;
  text-align: justify;
  text-shadow: 0.035vw 0.035vw #fff;
  margin: auto;
  margin-bottom: 3.5vw;
}
.wrapper header .personnage .text2 p span {
  text-decoration: underline;
  cursor: pointer;
}
.wrapper header .personnage .pantherhome4 {
  width: 14.5vw;
}
.wrapper header .personnage .pantherhome2 {
  display: block;
  position: absolute;
  width: 19vw;
  left: 2vw;
  top: -2.5vw;
}
.wrapper header .personnage .next {
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  background-color: #021740;
  color: #fff;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  line-height: 2.5vw;
  right: 1.7vw;
  cursor: pointer;
  border-radius: 1.25vw;
  -webkit-border-radius: 1.25vw;
  -moz-border-radius: 1.25vw;
  -ms-border-radius: 1.25vw;
  -o-border-radius: 1.25vw;
}
@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

main section {
  margin-top: 5vw;
  padding-bottom: 3.5vw;
  color: #fff;
  display: flex;
}
main section .main-text {
  width: 39.441%;
  margin-left: 13.6646%;
  position: relative;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
main section .main-text h3 {
  font-family: "BEYNO", sans-serif, arial;
  font-size: 1.15vw;
  color: #9e91b7;
}
main section .main-text p {
  margin: 1.1vw 0;
  text-align: justify;
  font-size: 0.678vw;
  line-height: 1.13vw;
}
main section .main-text .prince .p2 {
  text-align: justify;
  font-size: 0.679vw;
  margin-bottom: 1.2vw;
}
main section .main-text .prince .p3 {
  text-align: justify;
  font-size: 0.72vw;
  margin-bottom: 1.5vw;
}
main section .main-text .vengeur .p4 {
  text-align: justify;
  font-size: 0.7vw;
  margin-bottom: 1.5vw;
}
main section .main-text .vengeur .p5 {
  text-align: justify;
  font-size: 0.678vw;
}
main section .main-text .vengeur .p6 {
  text-align: justify;
  font-size: 0.69vw;
  margin-bottom: 1.8vw;
}
main section .main-text .vengeur .p7 {
  text-align: justify;
  font-size: 0.72vw;
  margin-bottom: 1.8vw;
}
main section .main-text .justicier .p8 {
  text-align: justify;
  font-size: 0.72vw;
}
@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
main section .main-image {
  position: relative;
  width: 25.1638%;
  margin-left: 10.24%;
  margin-right: 11.4906%;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
main section .main-image .tchalla {
  width: 100%;
  height: 37vw;
  background-color: #fff;
  margin-top: 12vw;
  padding-top: 13vw;
  border-radius: 0.47vw;
  -webkit-border-radius: 0.47vw;
  -moz-border-radius: 0.47vw;
  -ms-border-radius: 0.47vw;
  -o-border-radius: 0.47vw;
}
main section .main-image .tchalla .identite-tchalla {
  width: 74%;
  height: 18vw;
  margin: auto;
  font-family: "Cantarell", sans-serif, arial;
  font-size: 0.83vw;
  color: #000;
}
main section .main-image .tchalla .identite-tchalla h2 {
  text-align: center;
}
main section .main-image .tchalla .identite-tchalla div {
  display: flex;
  justify-content: space-between;
}
main section .main-image .tchalla .identite-tchalla div button {
  display: block;
  padding: 0.3vw 0.5vw;
  font-size: 0.74vw;
  background-color: rebeccapurple;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 0.3vw;
  -webkit-border-radius: 0.3vw;
  -moz-border-radius: 0.3vw;
  -ms-border-radius: 0.3vw;
  -o-border-radius: 0.3vw;
}
main section .main-image .tchalla .identite-tchalla p {
  margin: 0.29vw 0;
}
main section .main-image .tchalla .identite-tchalla p span {
  font-weight: 700;
}
main section .main-image .tchalla .identite-tchalla p span small {
  font-weight: normal;
}
main section .main-image .tchalla .identite-tchalla .identite1 {
  margin-top: 1.5vw;
}
main section .main-image .pantherhome5 {
  width: 19.3vw;
  display: block;
  position: absolute;
  top: -1.3vw;
  left: 2.25vw;
}
main section .main-image .pantherhome6 {
  width: 25vw;
  display: block;
  margin-top: 6vw;
}
@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
main .contact {
  position: relative;
}
main .contact img {
  display: block;
  width: 100%;
}
main .contact .raccord {
  width: 100%;
  height: 10.5vw;
  position: absolute;
  top: 45vw;
  background-color: rgba(8, 8, 8, 0.9450980392);
  background-image: url(/assets/illustration\ et\ logo/.pantherhome4);
}
main .contact .raccord .boule {
  width: 6.8vw;
  height: 6.8vw;
  background-color: rgba(2, 23, 64, 0.3647058824);
  margin-left: 81.5vw;
  margin-top: 2.4vw;
  border-radius: 3.4vw;
  -webkit-border-radius: 3.4vw;
  -moz-border-radius: 3.4vw;
  -ms-border-radius: 3.4vw;
  -o-border-radius: 3.4vw;
}
main .contact .formulaire {
  width: 50.5vw;
  height: 34vw;
  border-radius: 10vw;
  background-image: linear-gradient(180deg, rgb(242, 206, 242) 10%, rgba(242, 206, 242, 0.1) 90%);
  position: absolute;
  top: 6.4vw;
  left: 22.3vw;
  -webkit-border-radius: 10vw;
  -moz-border-radius: 10vw;
  -ms-border-radius: 10vw;
  -o-border-radius: 10vw;
}
main .contact .formulaire form {
  width: 51%;
  margin-left: 13.7vw;
  text-align: center;
  font-family: "Cantarell", sans-serif, arial;
}
main .contact .formulaire form .pfa {
  margin-top: 3vw;
  margin-bottom: 0vw;
  font-size: 0.9vw;
  font-weight: bold;
}
main .contact .formulaire form .pfb {
  margin-top: 0vw;
  margin-bottom: 1.5vw;
  font-size: 2.4vw;
  font-weight: bold;
}
main .contact .formulaire form input[type=text],
main .contact .formulaire form input[type=email] {
  width: 100%;
  height: 2.8vw;
  display: block;
  margin: 0.5vw 0;
  padding-left: 1.6vw;
}
main .contact .formulaire form input[type=text]::-moz-placeholder, main .contact .formulaire form input[type=email]::-moz-placeholder {
  color: #000;
  font-family: "Cantarell", sans-serif, arial;
  font-size: 0.8vw;
}
main .contact .formulaire form input[type=text]::placeholder,
main .contact .formulaire form input[type=email]::placeholder {
  color: #000;
  font-family: "Cantarell", sans-serif, arial;
  font-size: 0.8vw;
}
main .contact .formulaire form textarea {
  width: 100%;
  margin-top: 0.8vw;
  color: #000;
  padding-left: 1.6vw;
  font-family: "Cantarell", sans-serif, arial;
  font-size: 0.8vw;
}
main .contact .formulaire form textarea::-moz-placeholder {
  color: #000;
}
main .contact .formulaire form textarea::placeholder {
  color: #000;
}
main .contact .formulaire form textarea,
main .contact .formulaire form input[type=text],
main .contact .formulaire form input[type=email] {
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}
main .contact .formulaire form input[type=submit] {
  font-size: 0.7vw;
  font-weight: 800;
  padding: 0.6vw 1.8vw;
  margin-top: 1.1vw;
  border: none;
  cursor: pointer;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}
main .contact .formulaire form input[type=submit]:hover {
  filter: drop-shadow(0 0 0.5vw #fff);
  -webkit-filter: drop-shadow(0 0 0.5vw #fff);
}

.wrapper {
  background: radial-gradient(ellipse at top left, #11213f -205%, #0b0b0b 80%, #021740);
}
.wrapper header .wakanda-titre {
  position: relative;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.wrapper header .wakanda-titre .wakanda-bloc {
  position: absolute;
  color: #fff;
  top: 13.5vw;
  left: 10.89vw;
}
.wrapper header .wakanda-titre .wakanda-bloc h1 {
  font-family: "BEYNO";
  font-size: 3vw;
  letter-spacing: 0.3vw;
  color: #9e91b7;
}
.wrapper header .wakanda-titre .wakanda-bloc h2 {
  font-family: "Wakanda forever";
  font-size: 1.6vw;
  font-weight: 100;
  color: #9e91b7;
}
.wrapper header .wakanda-titre .wakanda-bloc p {
  width: 22.9vw;
  font-family: "Cantarell";
  font-size: 0.67vw;
  font-weight: 500;
  line-height: 1.1vw;
  text-align: justify;
  text-shadow: 0.035vw 0.035vw #fff;
}
.wrapper header .wakanda-titre img {
  width: 100%;
}
@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.wrapper main .main-wakanda {
  background-image: url("/assets/illustration et logo/2_wakanda_page/Pantherwakanda2a.png");
  background-repeat: no-repeat;
  background-position-y: top 0;
  background-size: contain;
  width: 72.78461538vw;
  min-height: 100vw;
  margin: auto;
  color: #f2cef2;
  display: flex;
  justify-content: space-between;
}
.wrapper main .main-wakanda h3 {
  font-family: "BEYNO";
  font-size: 1.15vw;
  color: #9e91b7;
}
.wrapper main .main-wakanda p {
  margin: 1.1vw 0;
  text-align: justify;
  font-size: 0.678vw;
  line-height: 1.13vw;
}
.wrapper main .main-wakanda .main-wakanda1 {
  width: 31.86153846vw;
  position: relative;
  top: 9vw;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.wrapper main .main-wakanda .main-wakanda1 iframe {
  height: 14.5vw;
}
@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.wrapper main .main-wakanda .main-wakanda2 {
  width: 32.73846153vw;
  position: relative;
  top: 9vw;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.wrapper main .main-wakanda .main-wakanda2 img {
  display: block;
  width: 32vw;
}
@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.wrapper main .main-enigme {
  color: blanchedalmond;
  height: 90.9vw;
  background-image: url("/Assets/Illustrations+Logo/Enigme/Pantherenigme1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -19vw left -5vw;
  position: relative;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.wrapper main .main-enigme .enigme-title {
  color: #9e91b7;
  position: relative;
  top: 10.5vw;
  left: 52vw;
  width: 33vw;
}
.wrapper main .main-enigme .enigme-title .title1,
.wrapper main .main-enigme .enigme-title .title2 {
  width: 31vw;
  margin: 0;
  font-family: "BEYNO";
  font-size: 3.4vw;
  font-weight: 400;
  text-align: justify;
}
.wrapper main .main-enigme .enigme-title .title1 {
  letter-spacing: 0.1vw;
  word-spacing: 1.5vw;
}
.wrapper main .main-enigme .enigme-title .title2 {
  letter-spacing: 0.05vw;
  word-spacing: 0.01vw;
}
.wrapper main .main-enigme .dora-milaje {
  position: relative;
  top: 12.5vw;
  left: 50.7vw;
  width: 43vw;
  margin: 0;
}
.wrapper main .main-enigme .dora-milaje .pantherenigme2 {
  width: 38.5vw;
}
.wrapper main .main-enigme .dora-milaje p {
  width: 26vw;
  font-family: "Cantarell";
  font-size: 0.678vw;
  text-align: justify;
  position: absolute;
  top: 7.5vw;
  left: 7.4vw;
}
.wrapper main .main-enigme .dora-milaje .pantherenigme3 {
  width: 42vw;
  position: absolute;
  top: 22vw;
  left: 1.8vw;
}
.wrapper main .main-enigme .glyphes {
  width: 50vw;
  font-family: "Wakanda 4 Ever";
  letter-spacing: 0.54vw;
  line-height: 2vw;
  font-weight: 100;
  font-size: 1.5vw;
  position: relative;
  top: 20vw;
  left: 14.5vw;
}
.wrapper main .main-enigme .transcription {
  width: 50vw;
  position: relative;
  top: 23.5vw;
  left: 14.5vw;
  font-size: 0.7vw;
  letter-spacing: 0.1vw;
}
.wrapper main .main-enigme .transcription span {
  display: inline-block;
  font-size: 0.68vw;
  margin-bottom: 1vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.02vw;
}
.wrapper main .main-enigme .lettre-e {
  width: 40vw;
  position: relative;
  top: 18vw;
  left: 49vw;
}
.wrapper main .main-enigme .lettre-e img {
  width: 38.5vw;
}
.wrapper main .main-enigme .lettre-e p {
  width: 26vw;
  font-family: "Cantarell";
  font-size: 0.65vw;
  text-align: center;
  position: absolute;
  top: 6.3vw;
  left: 7vw;
}
.wrapper main .main-enigme .lettre-e p span {
  display: block;
  margin: 1.3vw;
}
.wrapper main .main-enigme .formulaire {
  width: 25.3vw;
  font-size: 0.68vw;
  position: relative;
  top: 7vw;
  left: 14.5vw;
}
.wrapper main .main-enigme .formulaire label,
.wrapper main .main-enigme .formulaire input {
  display: block;
}
.wrapper main .main-enigme .formulaire input[type=text] {
  width: 100%;
  height: 2.8vw;
  color: #fff;
  display: block;
  margin: 0.9vw 0;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}
.wrapper main .main-enigme .formulaire input[type=text]::-moz-placeholder {
  color: #fff;
  padding-left: 1.6vw;
  font-family: "Cantarell";
  font-size: 0.8vw;
}
.wrapper main .main-enigme .formulaire input[type=text]::placeholder {
  color: #fff;
  padding-left: 1.6vw;
  font-family: "Cantarell";
  font-size: 0.8vw;
}
.wrapper main .main-enigme .formulaire input[type=submit] {
  font-size: 0.65vw;
  font-weight: 700;
  letter-spacing: 0.08vw;
  background-color: #f2cef2;
  padding: 0.9vw 1.8vw;
  margin: 3.9vw auto;
  border: none;
  cursor: pointer;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}
.wrapper main .main-enigme .formulaire input[type=submit]:hover {
  filter: drop-shadow(0 0 0.5vw #f2cef2);
  -webkit-filter: drop-shadow(0 0 0.5vw #f2cef2);
}
@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */