// ETAT INITIAL DES ELEMENTS DE LA CLASSE "fadeInSlideScroll"
.fadeInSlideScroll {
	opacity: 0;
	visibility: hidden;
	transform: translateX(-30vw);
	-webkit-transform: translateX(-30vw);
	-moz-transform: translateX(-30vw);
	-ms-transform: translateX(-30vw);
	-o-transform: translateX(-30vw);
}
