.wrapper {
	main {
		.main-enigme {
			color: $text-main-enigme-color;
			height: 100.9vw;
			position: relative;
			animation: fadeIn 4s;
			animation-delay: 2s;
			.image-0 {
				.image {
					position: absolute;
					top: 0;
					img {
						width: 56vw;
					}
				}
				.enigme-title {
					color: $title-color;
					position: relative;
					top: 10.5vw;
					left: 55vw;
					width: 33vw;
					.title1,
					.title2 {
						width: 31vw;
						margin: 0;
						font-family: "BEYNO";
						font-size: 3.4vw;
						font-weight: 400;
						text-align: justify;
					}
					.title1 {
						letter-spacing: 0.1vw;
						word-spacing: 0.9vw;
					}
				}
			}
			.dora-milaje {
				position: relative;
				top: 12.5vw;
				left: 53.7vw;
				width: 40vw;
				margin: 0;
				.pantherenigme2 {
					width: 48.5vw;
				}
				p {
					width: 25.4vw;
					font-size: 0.675vw;
					line-height: 1vw;
					text-align: justify;
					position: absolute;
					top: 14.5vw;
					left: 6.6vw;
				}
				.pantherenigme3 {
					width: 2vw;
					position: absolute;
					top: 23vw;
					left: 17vw;
				}
			}

			.glyphes {
				h3 {
					font-family: "BEYNO";
					font-size: 1.2vw;
					letter-spacing: 0.2vw;
					padding-bottom: 0.5vw;
					text-decoration: underline;
					span {
						font-family: "Cantarell";
					}
				}
				p {
					font-family: "Cantarell";
					font-size: 0.65vw;
					letter-spacing: 0.07vw;
					line-height: 1vw;
					margin-bottom: 2.5vw;
				}
				width: 50vw;
				font-family: "Wakanda forever";
				letter-spacing: 0.54vw;
				line-height: 2vw;
				font-weight: 100;
				font-size: 1.5vw;
				position: relative;
				top: 20vw;
				left: 14.5vw;
			}

			.lettre-e {
				width: 40vw;
				position: relative;
				top: 7vw;
				left: 53vw;
				img {
					width: 38.5vw;
				}
				p {
					width: 26vw;
					font-family: "Cantarell";
					font-size: 0.65vw;
					position: absolute;
					top: 9.3vw;
					left: 7vw;
					span {
						display: block;
						margin: 0;
					}
					em {
						font-family: "Wakanda forever";
					}
				}
			}
			.formulaire {
				width: 25.3vw;
				font-size: 0.68vw;
				position: relative;
				top: 2vw;
				left: 14.5vw;
				label,
				input {
					display: block;
				}
				input[type="text"] {
					width: 100%;
					height: 2.8vw;
					color: $text-color-1;
					display: block;
					margin: 0.9vw 0;
					border: 1px solid #fff;
					background-color: transparent;
					border-radius: 2vw;
					-webkit-border-radius: 2vw;
					-moz-border-radius: 2vw;
					-ms-border-radius: 2vw;
					-o-border-radius: 2vw;
					&::placeholder {
						color: $text-color-1;
						padding-left: 1.6vw;
						font-family: "Cantarell";
						font-size: 0.8vw;
					}
				}
				input[type="submit"] {
					font-size: 0.65vw;
					font-weight: 700;
					letter-spacing: 0.08vw;
					background-color: $bg-btn-submit-color;
					padding: 0.9vw 1.8vw;
					margin: 3.9vw auto;
					border: none;
					cursor: pointer;
					border-radius: 2vw;
					-webkit-border-radius: 2vw;
					-moz-border-radius: 2vw;
					-ms-border-radius: 2vw;
					-o-border-radius: 2vw;
					&:hover {
						filter: drop-shadow(0 0 0.5vw $bg-btn-submit-color);
						-webkit-filter: drop-shadow(0 0 0.5vw $bg-btn-submit-color);
					}
				}
			}
		}
	}
}
