.wrap {
	background: $bg-wrapper;
	div {
		height: 48.5vw;
		color: $text-color-1;
		background-image: url("/assets/illustration\ et\ logo/1_Landing_page/Panterhome4.png");
		background-repeat: no-repeat;
		background-size: cover;
		.popup {
			width: 50.5vw;
			height: 34vw;
			background-image: linear-gradient(
				180deg,
				rgba(242, 206, 242, 1) 10%,
				rgba(242, 206, 242, 0.1) 90%
			);
			position: absolute;
			top: 6.4vw;
			left: 22.3vw;
			font-family: "Panthera";
			font-size: 3vw;
			font-weight: 700;
			letter-spacing: 0.3vw;
			color: $text-pop-color;
			text-align: center;
			line-height: 34vw;
			border-radius: 10vw;
			-webkit-border-radius: 10vw;
			-moz-border-radius: 10vw;
			-ms-border-radius: 10vw;
			-o-border-radius: 10vw;
		}
	}
}
