$menu-color: #f2cef2;
$menu-hover-underline-color: #fff;
$menu-active-color: #3d2da6;
$text-color-1: #fff;
$text-color-2: #000;
$text-main-wakanda-color: #f2cef2;
$text-main-enigme-color: blanchedalmond;
$text-pop-color: #3d2da6;
$title-color: #9e91b7;
$bg-personnage-color: #021740;
$bg-btn-identite-color: rebeccapurple;
$bg-tchalla-color: #fff;
$bg-btn-submit-color: #f2cef2;
$bg-wrapper: radial-gradient(
	ellipse at top left,
	#11213f -205%,
	#0b0b0b 80%,
	#021740
);
